.footer {
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(219, 212, 234);
}

.footer_text {
    position: absolute;
    top: 20%;
    bottom:5%;
    width: 540px;
    height: 380px;

    font-weight: 100;
    font-size: 18px;

    padding: 30px;
    color: black;
    cursor: default;
    text-align: center;
    font-family: 'Verdana','Helvetica Neue', sans-serif;
}

.footer_images {
    position: relative;
    overflow: hidden;
    height: 5vh;
    width: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin: 0 0 20px; 
}


.footer_container{   
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: 8vh;
}

.footer_item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-bottom:5vh;
    margin-left:2.5vh;
    margin-right:2.5vh;
    position: relative;
    height: 5vh;
    width: 5vh;
}

.email{
    background-image: url("../../Assets/Email.png");
}