.cases {
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin-bottom: 5%;
}

.projects_heading {
   font-size: 2.1em;
   font-weight: 800;
   line-height: 1.2em;
   color: black;
   text-align: center;
   font-family: 'Source Code Pro', 'Verdana', 'Helvetica Neue', sans-serif;

   top: 20%;
   left: 10%;
   padding: 30px;
}

.project_row {
   margin-bottom: 10%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.imgBx {
   width: 30vw;
   height: 30vw;
   background-size: cover;
   border-radius: 10px;
   box-shadow: 0 35px 80px rgba(0, 0, 0, 0, 15);
}

.card {
   position: relative;
   top: 20%;
   width: 30vw;
   height: 70vh;
   background-color: rgb(220, 221, 250);
   border-radius: 10px;
   transition: 0.5s;
   box-shadow: 18px 18px 5px 0px rgba(56, 55, 55, 0.75);
   -webkit-box-shadow: 18px 18px 5px 0px rgba(32, 32, 32, 0.75);
   -moz-box-shadow: 18px 18px 5px 0px rgba(87, 82, 82, 0.75);
}

.card:hover {
   top: 10%;
}

.content {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   overflow: hidden;
}

.content .details {
   width: 100%;
   transition: 0.5s;
   font-family: 'Source Code Pro', 'Biotif-Regular', 'Helvetica Neue', sans-serif;
}

.content .details h2 {
   margin-left: 5vh;
   margin-right: 5vh;
   margin-top: 5vh;
   font-size: 1.8em;
   font-weight: 800;
   color:rgb(50,50,50);
   line-height: 1.2em;
}

.content .details h4 {
   margin-left: 5vh;
   margin-right: 5vh;
   margin-top: 3vh;
   color: rgb(100,100,100);
   line-height: 1em;
   text-align: justify;
   font-size: 1em;
   font-weight: 100;
}

.content .details h3 {
   margin-left: 5vh;
   margin-right: 5vh;
   margin-top: 3vh;
   color: rgb(100,100,100);
   font-family: 'Courier New', Courier, monospace;
   line-height: 1.8em;
   text-align: left;
   font-size: 1.25em;
   font-weight: 450;
}

.content .details .actionBtn {
   display: flex;
   justify-content: right;
   margin-top: 3vh;
   margin-right: 5vh;

}

.content .details .actionBtn button:hover {
   background-color: rgb(220,221,250);
   border: 2px solid #e7e7e7;
   color: white;
}

.content .details .actionBtn button {
   color:rgb(150,150,150);
   background-color: rgb(219, 212, 234);
   border: 2px solid #e7e7e7;
   font-weight: 550;
   padding: 10px 30px;
   border-radius: 10px;
   border: none;
   font-size: 1em;
   font-family: 'Courier New', Courier, monospace;
}