.hero {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;

    overflow: hidden;

    background-size: cover;
}

.heading {
    position: absolute;
    top: 20%;
    left: 10%;
    bottom:10%;
    width: 560px;
    height: 380px;

    font-weight: 600;
    font-size: 65px;

    padding: 30px;
    color: black;
    cursor: default;
    font-family: 'Verdana','Helvetica Neue', sans-serif;

}

.subtitle {
    margin-top:3%;
    font-weight: 400;
    font-size: 26px;
    color: black;
    font-family: 'Verdana','Helvetica Neue', sans-serif;
}


.body {
    margin-top:3%;
    font-weight: 400;
    font-size: 22px;
    color: black;
    font-family: 'Biotif-Regular','Helvetica Neue', sans-serif;
    text-align: justify; 
}

.Item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    position: relative;
    height: 5vh;
    width: 15vh;
}

.Images {
    position: relative;
    overflow: hidden;
    height: 5vh;
    width: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
}


.linkedin{
    background-image: url("../../Assets/linkedin.png");
    right: 5%;
}

.git{
    background-image: url("../../Assets/git.png");
    left: 5%;
}