.hero {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
}

.heading {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 560px;
    height: 380px;

    font-weight: 600;
    font-size: 65px;

    padding: 30px;
    color: black;
    cursor: default;
    font-family: 'Verdana','Helvetica Neue', sans-serif;

}

.subtitle {
    margin-top:3%;
    font-weight: 400;
    font-size: 26px;
    color: black;
    font-family: 'Verdana','Helvetica Neue', sans-serif;
}


.body {
    font-weight: 400;
    font-size: 22px;
    color: black;
    font-family: 'Biotif-Regular','Helvetica Neue', sans-serif;
    text-align: justify; 
}

.row{
    display:inline;
    float:left;
}
  
.Item_row {
    display: flex;
    width: 20vh;
    padding-left: 5vh;
}

.Item_column {
    float: center;
    flex: 33.33%;
    padding: 5px;
}

.Images {
    position: relative;
    overflow: hidden;
    width: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}


.linkedin{
    background-image: url("../../Assets/linkedin.png");
}

.git{
    background-image: url("../../Assets/git.png");
}